body {
    background: url(../images/blankpage.jpg);
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #000000;
    font-family: 'PT Serif', serif;
    padding-top: 70px;

}

#logoName {
    font-family: 'IM Fell English SC', serif;
}

#bookMatchTextOne {
    font-family: 'IM Fell English SC', serif;
    font-weight: bold;
    font-size: 3rem;
}

#bookMatchTextTwo {
    font-weight: bold;
    font-size: 16px;
}

#logo {
    width: 50px;
    height: auto;
}

.pageName {
    color: #fff;
    font-size: 6rem;
    text-shadow: 2px 2px 4px #000000;
    width: 100%;
    font-family: 'IM Fell English SC', serif;

}

.intro {
    color: #fff;
    font-size: 3rem;
    text-shadow: 2px 2px 4px #000000;
    width: 100%;
    font-family: 'IM Fell English SC', serif;
}

.intro2 {
    color: #fff;
    font-size: 2rem;
    text-shadow: 2px 2px 4px #000000;
    width: 100%;
    font-family: 'IM Fell English SC', serif;
}

.welcome {
    background: url("../images/mainbg.jpg");
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;

    position: fixed;
    padding: 0;
    margin: 0 auto;

    top: 0;
    left: 0;

    display: table;
    /* margin: 0 auto;*/
    padding: 100px 0;
}

#bookBarSearchBtn {
    display: inline-block;
    box-shadow: 1px 1px 1px grey;
    border: thin solid #888;
    border-radius: 5px;
    color: #000000;
    background: green;
    width: 20%;
    height: 3rem;
    margin-left: 1em;
    letter-spacing: 0.25rem;
}

#bookBarSearchBtn:hover {
    cursor: pointer;
    background: rgb(86, 158, 86);;
}

#data {
    display: none;
}

.form-control {
    max-width: 80%;
}

#title {
    width: 50% !important;
    text-align: center;
}

#searchBtnDiv {
    display: flex;
  justify-content: center;
  align-items: center;
}

#profile {
    background-color: rgba(255,255,255, 0.4);
    position: fixed;
    width: 144%;
    display: table;
    padding: 1em;
<<<<<<< HEAD
    border-radius: 5px;
=======
    border-radius: 15px;
>>>>>>> fae4f9bf04b6bb97a8e9ff4fde0da57f3cb25d7b
    margin-left: 2em;
}

#profileText {
    font-weight: bold;
    text-align: center;
}

#pic {
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#mainSecondCol {
    margin-left: 15em;
  }

#bookMatchLink:hover {
    cursor: pointer;
    color: #c26a5f;
}

.star-rating {
    line-height:32px;
    font-size:1.25em;
}
  
.star-rating .fa-star{
    color: yellow;
}

/* --------------- THIS IS FOR THE GOOGLE SIGN IN BUTTON ---------------- */

#customBtn {
    display: inline-block;
    box-shadow: 1px 1px 1px grey;
    border: thin solid #888;
    border-radius: 5px;
    color: #444;
    background: white;
    white-space: nowrap;
}

#customBtn:hover {
    cursor: pointer;
}

span.label {
    font-family: serif;
    font-weight: normal;
}

span.icon {
    background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
}

/* --------------- THIS IS FOR THE NAV BAR ---------------- */

.navbar {
    background-color: #800000;
    font-family: 'PT Serif', serif;
    min-height: 10px;
    width: 100%;
    padding: 0;
}

.navbar .navbar-brand {
    color: #ffffff;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #c26a5f;
}

.navbar .navbar-text {
    color: #ffffff;
}

.navbar .navbar-text a {
    color: #c26a5f;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #c26a5f;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #c26a5f;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #c26a5f;
    background-color: #ffffff;
}

.navbar .navbar-toggle {
    border-color: #ffffff;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #ffffff;
}

.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ffffff;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ffffff;
}

.navbar .navbar-link {
    color: #ffffff;
}

.navbar .navbar-link:hover {
    color: #c26a5f;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #c26a5f;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #c26a5f;
        background-color: #ffffff;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #c26a5f;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #c26a5f;
        background-color: #ffffff;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #c26a5f;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #c26a5f;
        background-color: #ffffff;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #c26a5f;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #c26a5f;
        background-color: #ffffff;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #c26a5f;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #c26a5f;
    background-color: #ffffff;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #fff;
    text-align: center;
    font-family: 'PT Serif', serif;
}
<<<<<<< HEAD

/* ----- BOOKSHELF BUTTON ---- */
.dropbtn {
    background-color: rgb(212,175,55);
    color: #000000;
    padding: 5px;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 16px;
    cursor: pointer;
    font-weight: 100;
    letter-spacing: 0.25rem;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(238, 206, 102);
    color: #000000;
    box-shadow: 1px 1px 1px grey;
    border-color:  rgb(238, 206, 102);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
=======
>>>>>>> fae4f9bf04b6bb97a8e9ff4fde0da57f3cb25d7b
