body {
    /* Box-model */
    padding: 0;
  
    /* Positioning */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
  
    /* Typography */
    font-size: 16px;
    line-height: 150%;
    color: #777777;
  
    /* Visual */
    background-image: url("../images/bookshelf.jpg");
    width: 100%;
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 10px;
  }
  
  
  .container {
    width: 100%;
    max-width: 960px;
    height: 90%;
    clear: both;
  }
  
  .jumbotron {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
    width: 680px;
    border-radius: 50px / 15px;
  }
  
  #main-container {
    padding-top: 130px;
    /*    height: 700px; */
  }
  
  .main-button-container {
    margin-top: 0px;
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .timer-p {
    margin-top: 20px;
  }
  
  .answer:hover {
    background: lightblue;
  }
  
  .answer {
    padding-top: 7px;
    height: 45px;
    color: black;
    padding-left: 14px;
    background-color: white;
    border-radius: 4px;
  }
  
  .img-done {
    margin-top: 0px;
  }
  
  .first-answer {
    margin-top: 40px;
  }
  
  .reset-button {
    margin-top: 40px;
  }
  
  .summary-correct {
    margin-top: 40px;
  }

  #final {
    display:none;
  }

  html {
    margin: 40px auto;
    text-align: center;
  }
    .btn-linkedin {
      background: #0E76A8;
      color: #fff;
      border-width: 1px;
      border-style: solid;
      border-color: #084461;
      border-radius: 5px;
      font-size: 13px;
      height: 28px;
    }
    .btn-linkedin:link, .btn-linkedin:visited {
      color: #fff;
    }
    .btn-linkedin:active, .btn-linkedin:hover {
      background: #084461;
      color: #fff;
    }
    .btn {
      padding-left:16px;
      margin-bottom:16px;
    }