body {
    /* Box-model */
    padding: 0;
  
    /* Positioning */
    margin: 0;
    font-family: Helvetica, Arial, sans-serif, sans-serif;
  
    /* Typography */
    font-size: 14px;
    line-height: 150%;
    color: #777777;
  
    /* Visual */
    background-image: url("../images/bookshelf.jpg");
    width: 100%;
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 10px;
  }
  
  
  .container {
    width: 100%;
    max-width: 960px;
    height: 90%;
    clear: both;
  }
  
  .jumbotron {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
    width: 680px;
    border-radius: 50px / 15px;
  }
  
  #main-container {
    padding-top: 130px;
    /*    height: 700px; */
  }
  
  .main-button-container {
    margin-top: 0px;
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .timer-p {
    margin-top: 20px;
  }
  
  .answer:hover {
    background: lightblue;
  }
  
  .answer {
    padding-top: 7px;
    height: 45px;
    color: black;
    padding-left: 14px;
    background-color: white;
    border-radius: 4px;
  }
  
  .img-done {
    margin-top: 0px;
    margin-left: 70px;
  }
  
  .first-answer {
    margin-top: 40px;
  }
  
  .reset-button {
    margin-top: 40px;
  }
  
  .summary-correct {
    margin-top: 40px;
  }

  #final {
    display:none;
  }

  buttonhtml {
    margin: 20px auto;
    text-align: center;
  }
    .btn-linkedin {
      background: #0E76A8;
      color: #fff;
      border-width: 1px;
      border-style: solid;
      border-color: #084461;
      border-radius: 5px;
      font-size: 13px;
      height: 28px;
      vertical-align:top;
    }
    .btn-linkedin:link, .btn-linkedin:visited {
      color: #fff;
    }
    .btn-linkedin:active, .btn-linkedin:hover {
      background: #084461;
      color: #fff;
    }
    .btn {
      padding-left:16px;
      margin-bottom:16px;
    }
    .navbar {
      background-color: #800000;
      font-family: 'PT Serif', serif;
      min-height: 10px;
      width: 100%;
      padding: 0;
  }
  
  .navbar .navbar-brand {
      color: #ffffff;
  }
  
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
      color: #c26a5f;
  }
  
  .navbar .navbar-text {
      color: #ffffff;
  }
  
  .navbar .navbar-text a {
      color: #c26a5f;
  }
  
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
      color: #c26a5f;
  }
  
  .navbar .navbar-nav .nav-link {
      color: #ffffff;
      border-radius: .25rem;
      margin: 0 0.25em;
  }
  
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
      color: #c26a5f;
  }
  
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
      color: #c26a5f;
      background-color: #ffffff;
  }
  
  .navbar .navbar-toggle {
      border-color: #ffffff;
  }
  
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
      background-color: #ffffff;
  }
  
  .navbar .navbar-toggle .navbar-toggler-icon {
      color: #ffffff;
  }
  
  .navbar .navbar-collapse,
  .navbar .navbar-form {
      border-color: #ffffff;
  }
  
  .navbar .navbar-link {
      color: #ffffff;
  }
  
  .navbar .navbar-link:hover {
      color: #c26a5f;
  }
  
  @media (max-width: 575px) {
      .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
          color: #ffffff;
      }
      .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
      .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
          color: #c26a5f;
      }
      .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
          color: #c26a5f;
          background-color: #ffffff;
      }
  }
  
  @media (max-width: 767px) {
      .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
          color: #ffffff;
      }
      .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
      .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
          color: #c26a5f;
      }
      .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
          color: #c26a5f;
          background-color: #ffffff;
      }
  }
  
  @media (max-width: 991px) {
      .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
          color: #ffffff;
      }
      .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
      .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
          color: #c26a5f;
      }
      .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
          color: #c26a5f;
          background-color: #ffffff;
      }
  }
  
  @media (max-width: 1199px) {
      .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
          color: #ffffff;
      }
      .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
      .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
          color: #c26a5f;
      }
      .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
          color: #c26a5f;
          background-color: #ffffff;
      }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c26a5f;
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c26a5f;
      background-color: #ffffff;
  }
  
  .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #000000;
      color: #fff;
      text-align: center;
      font-family: 'PT Serif', serif;
  }