body {
    background: url("../assets/images/mainbg.jpg");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100%;
}

.welcome {
    margin-left: 500px;
    margin-top: 200px;
}

#data {
    display: none;
}